* {
    box-sizing: border-box;
}
body {
    font-size: 62.5%;
}

.collection {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.item {
    background-image: url("bookbackground.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 200px;
    margin: 20px;
}
.bookDetails {
    margin-top: -20px;
}